
label{
    width: 500px;
    margin: 50px;
    padding-block-start:30px;
    border: 2px;
    block-size: 20px;
    border-radius: 10px;
    
}

label{
    display: 5px;;
    margin-bottom: 5px;
    font-weight: 200;
    font: display 10px; 
    font-size: large;
    font-weight: 100;
    font-style: normal;
    
}

.


